<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>#{msj.indexTituloLogin}</title>
    </h:head>
    <h:body style="background-color: crimson">
        <ui:composition template="template/master.xhtml">
            <ui:define name="encabezado">
                <ui:include src="secciones/mesadirectiva/header.xhtml"/>
            </ui:define>
            <ui:define name="lado">
                <ui:include src="secciones/mesadirectiva/ladoizq.xhtml"/>
            </ui:define>
            <ui:define name="contenido">
                <div align="center" style="vertical-align: central">
                    <h2>Bienvenido</h2>
                </div>
            </ui:define>
            
            <p:panelGrid columns="3">
    <p:panelGrid columns="2">
    <f:facet name="header">
        <p:graphicImage name="/img/pato.jpg" />
       
    </f:facet>
 
    <h:outputText value="Name:" />
    <h:outputText value="Kobe Bryant" />
 
    <h:outputText value="Team:" />
    <h:outputText value="Los Angeles Lakers" />
 
    <h:outputText value="Position:" />
    <h:outputText value="Shooting Guard" />
 
    <h:outputText value="Number:" />
    <h:outputText value="24" />
</p:panelGrid>
                    
                    <p:panelGrid columns="2">
    <f:facet name="header">
        <p:graphicImage name="/img/pato.jpg" />
       
    </f:facet>
 
    <h:outputText value="Name:" />
    <h:outputText value="Kobe Bryant" />
 
    <h:outputText value="Team:" />
    <h:outputText value="Los Angeles Lakers" />
 
    <h:outputText value="Position:" />
    <h:outputText value="Shooting Guard" />
 
    <h:outputText value="Number:" />
    <h:outputText value="24" />
</p:panelGrid>
                        
                        <p:panelGrid columns="2">
    <f:facet name="header">
        <p:graphicImage name="/img/pato.jpg" />
       
    </f:facet>
 
    <h:outputText value="Name:" />
    <h:outputText value="Kobe Bryant" />
 
    <h:outputText value="Team:" />
    <h:outputText value="Los Angeles Lakers" />
 
    <h:outputText value="Position:" />
    <h:outputText value="Shooting Guard" />
 
    <h:outputText value="Number:" />
    <h:outputText value="24" />
</p:panelGrid>
                        </p:panelGrid>
        </ui:composition>

    </h:body>
</html>

