<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title><ui:insert name="Titulo"/></title>
        <h:outputStylesheet library="css" name="style.css"></h:outputStylesheet>
    </h:head>
    <h:body style="background-color: coral">
        <p:layout fullPage="true">
            
            <p:layoutUnit id="encabezado" position="north" size="100" resizable="true" styleClass="headers" >
                <ui:insert  name="encabezado">
                </ui:insert>
            </p:layoutUnit>
            <p:layoutUnit id="lado" position="west" size="20%" resizable="true"  styleClass="lado">
                <ui:insert name="lado">
                </ui:insert>
            </p:layoutUnit>

            <p:layoutUnit id="contenido" position="center" resizable="true">
                <ui:insert name="contenido"/>
            </p:layoutUnit>


        </p:layout>
    </h:body>
</html>

