<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
    </h:head>
    <h:body>
        
        <div align="center"  style="background-color: darkblue">
         
    <h2 style="color: white; font-family: sans-serif">#{msj.headerComite}</h2>
    </div>
    <p:breadCrumb>  
    <p:menuitem value="Inicio" url="#" />
    <p:menuitem value="Miembros" url="#" />
    <p:menuitem value="Otros" url="#" />  
</p:breadCrumb>
                
       
    </h:body>
</html>