h1{
    font-family:  sans-serif;
    font-style: oblique;
    color: darkmagenta;
}

asunto{
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-style: oblique;
    color: darkmagenta;

}


.headers{
    background-color: darkblue;
}

.lado{
    background-color: darkgray;
}

#nom{
    background-color: red;
}
.msj
{
    color: red;
}

.tabla
{
    border: thin double  gray ;
    background-color:  aquamarine;
    border-collapse:  collapse; 
}

.caption
{
    font-family: "Verdana";
    font-size: 17px;
    color: red;
}

.header
{
    text-align: center;
    font-style: oblique;
    color: blue;
}

.pie
{
      position: relative;
    background-color: #006699;
   //background-image: url('./../img/disfraces/pie.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
}
.bot{
    font-size: medium;
    color: white;
    background:  black;
    background-color: black;

}